@{   
    ViewData["Title"] = "Error";
}

<h3 class="h3-responsive ubuntu-medium">Erreur</h3>
<p class="mt-1 mb-1 ubuntu-light mb-md-2 mt-md-2">@ViewBag.ExceptionMessage</p>
<p class="ubuntu-light">
    L'erreur a été envoyée à l'administrateur du site. <br /><br />
    Nous vous présentons toutes nos excuses pour ce désagrément.
</p>