<div class="modal fade right ubuntu-light" id="successModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">
                    Succès
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p class="text-center"><i class="fas fa-check fa-4x animated rotateIn"></i></p>
                    </div>
                    <div class="col-9">
                        <p id="successContent"></p>
                        <p><span  id="modalContent2"> </span><span class="ubuntu-medium" id="second"></span></p>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a href="" type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Fermer</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>